/* Ensure calendar follows the label */
.calendar-container {
    display: flex;
    flex-direction: column; /* Stack label and calendar vertically */
    align-items: flex-start; /* Align items to the left */
}

/* Hide the input field */
#startDate {
    display: none;
}

#submit-data {
    margin-top: 30px;
}

#page-title {
    margin-bottom: 20px;
}