#page-title {
    margin-top: 20px;
    margin-bottom: 40px;
}


.login-label {
    margin-bottom: 20px;
}


.calendar-label {
    margin-bottom: 1px;
}

.calendar-container {
    display: flex;
    flex-direction: column; /* Stack label and calendar vertically */
    align-items: flex-start; /* Align items to the left */
}

#startDate {
    display: none;
}


#submit-data {
    margin-top: 40px;
}
