html, body {
    height: 100%;
}

img {
    object-fit: contain;
}

#top-banner {
    background-color: #022851;
    margin-bottom: 1.75em;
}

.bottom-footer {
    position: fixed;
    background-color: #022851;
    bottom: 0px;
    left: 0;
    height: 15%;
    width: 100%;
    text-align: center;
    padding: 2.5em;
}

.login-label {
    margin-bottom: 1.25em;
}


.calendar-label {
    margin-bottom: 1px;
}

.calendar-container {
    display: flex;
    flex-direction: column; /* Stack label and calendar vertically */
    align-items: flex-start; /* Align items to the left */
}

#startDate {
    display: none;
}


#submit-data {
    margin-top: 2.5em;
    background-color: #FFBF00;
    border-color:  #FFBF00;
}

.content {
    padding-bottom:20vh;
}

.footer-font {
    font-size: 0.5em;
}